#login, #signin {
    border:none;
    background-color: white;
    font-weight: bolder;
    font-size:15px;
}
.sub {
    text-align: right;
}
#login:hover, #signin:hover {
    background-color: lightgrey;
}
.mainBox {
    margin-top:200px;
    margin-left:550px;
}
#search, #min, #max{
    text-align: center;
}
.searchImage {
    width: 20px;
    height: 20px;
}
#post {
    margin-left: 30px;;
    width: 100px;
    height: 25px;
    background-color: white;
    border:2px solid black;
    border-radius: 15px;
}
#post:hover {
    background-color: lightgrey;
}
.select {
    height: 20px;;
    text-align: center;
    width:150px;
    -webkit-appearance:none;
}
.product-image {
    margin:30px 30px auto 30px;
    width: 150px;
    height: 180px;
    border-radius: 20px;

}
.product_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-title {
    margin: 10px 30px auto 30px;
}
.product-price {
    margin: auto 30px 30px 30px;
    font-weight: bolder;
}