.sub {
    text-align: right;
    margin-top:20px;
    position: fixed;
    top:0px;
    right: 23px;
}
#logout, #mainpage {
    border:none;
    background-color: white;
    font-weight: bolder;
    font-size:15px;
}
#logout:hover, #mainpage:hover {
    background-color: lightgrey;
}
#bell, #logout{
    margin-right: 30px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-left:50px;
}
#addbtn {
    width: 70px;
    height: 25px;
    background-color: white;
    border:2px solid black;
    border-radius: 15px;
}
#addbtn:hover {
    background-color: lightgrey;
}
.infobox{
    display:flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: bolder;
}
.location {
    border-bottom:2px solid lightgrey;
    margin-bottom:10px;
}
.itembox{
    border-left: 2px solid lightgrey;
}
p{
    font-size:25px;
}
.interest, .sale, .purchase {
    width:1000px;
    border-bottom:2px solid lightgrey;
    min-height: 200px;
}
.mybox, .itembox{
    padding:15px;
}
.user-image {
    margin-left : 40px;
    width: 50px;
    height: 50px;

}
.sale-image, .interest-image , .Purchase-image{
    margin:30px 30px auto 30px;
    width: 100px;
    height: 130px;
    border-radius: 20px;
    background-position: center;
}
.sale, .intesrest {
    display: flex;
    flex-direction: column;
    min-height: 150px;
}
.sale-title, .interest-title {
    margin: 10px 30px auto 30px;
}
.sale-price, .interest-price {
    margin: auto 30px 30px 30px;
    font-weight: bolder;
}
.saleBox, .interestBox .purchaseBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sale-done {
    min-height: 200px;
}
#alarm {
    border: 2px ridge;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 45px;
    width: 300px;
    height: 200px;
    overflow: auto;
    background-color: rgb(227, 221, 221);
    display: none;
    padding:20px;
}
.keyword, .keyword2 {
    border-bottom:1px solid grey;
    margin-bottom:10px;
}
.keyword:hover {
    background-color: lightgrey;
}